<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body class="edit__body">
    <%- include('./partials/header')%>
    <main class="edit__main">
        <div class="edit__main__div">
            <h3>Editar Producto: <%= name %></h3>
            <form action="/products/productEdit/<%= id %>?_method=PUT" method="POST">
                <div class="edit__main__div--info">
                    <div class="edit__div__div--2">
                        <label for="name">Nombre del producto:</label>
                        <input type="text" id="name" name="name" value="<%= name %>" autofocus>
                    </div>
                    <div class="edit__div__div--2">
                        <label for="description">Descripción:</label>
                        <textarea id="description" name="description" value="<%= description %>"  min="10" max="100"><%= description %></textarea>
                    </div>
                    <div class="edit__div__div">
                        <div class="edit__div__div--2">
                            <label for="category">Categoría:</label>
                            <select name="category" id="category" value="<%= category %>">
                                <option value="" select hidden>Seleccione categoría...</option>
                                <option value="gatos" <%= category === "gatos" && "selected" %>>Gatos</option>
                                <option value="perros" <%= category === "perros" && "selected" %>>Perros</option>
                            </select>
                        </div>
                        <div class="edit__div__div--2">
                            <label for="productTipe">Tipo de producto:</label>
                            <select name="productTipe" id="productTipe">
                                <option value="<%= productTipe %>" select hidden>Seleccione tipo de producto...</option>
                                <option value="alimento" <%= productTipe === "alimento" && "selected" %>>Alimento</option>
                                <option value="juguetes" <%= productTipe === "juguetes" && "selected" %>>Juguetes</option>
                                <option value="salud" <%= productTipe === "salud" && "selected" %>>Salud</option>
                            </select>
                        </div> 
                    </div>
                    <div class="edit__div__div">
                       <div class="edit__div__div--2">
                            <label for="price">Precio:</label>
                            <input type="number" id="price" name="price" value="<%= price %>">
                        </div>
                        <div class="edit__div__div--2">
                            <label for="weight">Descuento:</label>
                            <input type="number" id="discount" name="discount" value="<%= discount %>">
                        </div> 
                        <div class="edit__div__div--2">
                            <label for="weight">Peso:</label>
                            <input type="number" id="weight" name="weight" value="<%= weight %>">
                        </div> 
                        <div class="edit__div__div--2">
                            <label for="price">Stock:</label>
                            <input type="number" id="price" name="price" value="<%= stock %>">
                        </div> 
                    </div>
                    <div class="edit__div__div">
                       <div class="edit__div__div--2">
                            <label for="image">Imagen:</label>
                            <input type="file" class="form-image" id="image" name="image" value="<%= image %>">
                        </div>
                    </div>
                <div class="edit__div__div--button">
                    <div class="edit__main__div--button">
                        <button type="reset">Cancelar cambios</button>
                    </div>
                    <div class="edit__main__div--button">
                        <button type="submit">Guardar cambios</button>
                    </div> 
                </div>    
                
            </form>
        </div>
    </main>
    <%- include('./partials/footer')%>

    

    <%- include('./partials/scripts')%>
</body>
</html>