<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

<body class="boee">

    <%- include('./partials/header')%>
    
    <main class="home__main">
      <div class="home_main--dashboard-buscador-plus">
        <% if (Buscar) { %>
          <div>
            <% if (locals.userLogin) { %>
              <% if (userLogin.rol === 1) { %>
            <a href="/admin" class="dashboard--Allproducts"> Volver a todos los productos</a>
          </div>
        <% } %>
        <% } %>
      <% } %>
        <div class="home__header__nav__div--lupa--dashboard">
            <form action="/admin" method="GET" class="home__header__nav__div--lupa--dash">
              <input type="text" name="Buscar" placeholder="Buscar productos, marcas">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            </form>
            </div>
          
            
            <div>
              <a class="btn btn-sm btn-primary" href="/products/productCreate/"><i class="fa-solid fa-plus"></i></a>
            </div>

          
          </div>

          <% if (!products.length) { %>
            <h1 class="dashboard--notFound">No se encuentra el Producto</h1>
          <% } %>

        <div class="header home_main--container-dashboard">
         
      

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Product Type</th>
        <th scope="col">Edicion</th>
        
      </tr>
    </thead>
    <tbody>
        <% products.forEach(({name,id,price,category,productType}) => { %>
        <tr>
                
                <th scope="row"><%= id %></th>
                <td><%= name %></td>
                <td><%= price %></td>
                <td><%= category %></td>
                <td><%= productType %></td>
                <td>

                    <div class="d-flex gap--dashboard">
                      <a class="btn btn-sm btn-primary" href="/products/productDetail/<%= id %>"><i class="far fa-eye"></i></a>
                      <a class="btn btn-sm btn-success" href="/products/productEdit/<%= id %>"><i class="far fa-edit"></i></a>
                      <form action="/products/productDelete/<%= id %>?_method=DELETE" method="POST" id="deleteForm">
                        <button type="submit" class="btn btn-danger" id="deleteButton"><i class="fa-solid fa-trash"></i></button>
                    </form> 
    
                    </div>
                    </td>
              
            </tr>
         
        <% }) %>
      

    
    </tbody>
  </table>



 

            
      

        </div>




    
    </main>
    


    

    <%- include('./partials/scripts')%>
    <!-- SweetAlert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/sweetAlert.js"></script>
    <script src="/javascripts/modoOscuro.js"></script>
</body>
</html>