<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body class="edit__body">
    <%- include('./partials/header')%>
    <main class="edit__main">
        <div class="edit__main__div">
            <h3>Editar Producto: <%= name %></h3>
            <form action="/products/productEdit/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="form-product-edit">
                <div class="edit__main__div--info">
                    <div class="edit__div__div--2">
                        <label for="name">Nombre del producto:</label>
                        <input type="text" id="name" name="name" value="<%= name %>" autofocus>
                        <p class="text-danger small ms-2" id="nameError"></p>
                    </div>
                    <div class="edit__div__div--2">
                        <label for="description">Descripción:</label>
                        <textarea id="description" name="description" value="<%= description %>"  min="10" max="100"><%= description %></textarea>
                        <p class="text-danger small ms-2" id="descriptionError"></p>
                    </div>
                    <div class="edit__div__div">
                        <div class="edit__div__div--2">
                            <label for="category">Categoría:</label>
                            <select name="category" id="category" value="<%= categories.name %>">
                                <option value="" selected hidden>Seleccione...</option>
                                <% categories.forEach(({name, id}) => { %>
                                  <option value="<%= id %>" <%= id === categoryId && 'selected' %> ><%= name %></option>
                                 <% }) %>
                            </select>
                        </div>
                        <div class="edit__div__div--2">
                            <label for="productType">Tipo de producto:</label>
                            <select name="productType" id="productType">
                                <option value="" selected hidden>Seleccione...</option>
                                <% productoTypes.forEach(({name, id}) => { %>
                                  <option value="<%= id %>" <%= id === productTypeId && 'selected' %> ><%= name %></option>
                                 <% }) %>
                            
                            </select>
                        </div> 
                    </div>
                    <div class="edit__div__div">
                       <div class="edit__div__div--2">
                            <label for="price">Precio:</label>
                            <input type="number" id="price" name="price" value="<%= price %>">
                        </div>
                        <div class="edit__div__div--2">
                            <label for="weight">Descuento:</label>
                            <input type="number" id="discount" name="discount" value="<%= discount %>">
                        </div> 
                        <div class="edit__div__div--2">
                            <label for="weight">Peso:</label>
                            <input type="number" id="weight" name="weight" value="<%= weight %>">
                        </div> 
                        <div class="edit__div__div--2">
                            <label for="stock">Stock:</label>
                            <input type="number" id="stock" name="stock" value="<%= stock %>">
                        </div> 
                    </div>
                    <div class="edit__div__div">
                       <div class="edit__div__div--2">
                            <label for="image">Imagen:</label>
                            <input type="file" class="form-image" id="image" name="image" value="<%= image %>">
                        </div>
                    </div>
                <div class="edit__div__div--button">
                    <div class="edit__main__div--button">
                        <button onclick="window.location.href='/'">Cancelar cambios</button>
                    </div>
                    <div class="edit__main__div--button">
                        <button type="submit">Guardar cambios</button>
                    </div> 
                </div>    
                
                


            </form>
        </div>
    </main>
    <%- include('./partials/footer')%>

    

    <%- include('./partials/scripts')%>

    <script src="/javascripts/productEdit.js"></script>
<!-- <script>
        const $ = id => document.getElementById(id)
        const productEdit = $('form-product-edit')
        const inputName = $('name');
        const textAreaDescription = $('description');
        const selectCategory = $('category');
        const inputproductType = $('productType');
        const inputPrice = $('price');
        const inputDiscount = $('discount');
        const inputweight = $('weight');
        const inputStock = $('stock');
        const inputImages = $('images');


        inputName.addEventListener('blur', function(){
            switch (true) {
                case !this.value.trim():
                    $('nameError').innerHTML = "El nombre del producto es obligatorio"
                    break;
                    case this.value.trim().length < 5:
                    $('nameError').innerHTML = "El nombre debe tener mínimo 5 carácteres"          
            break;
            
                default:

                    break;
            }
        })

        textAreaDescription.addEventListener('blur', function(){
            switch (true) {
                case !this.value.trim():
                    $('descriptionError').innerHTML = "El nombre del producto es obligatorio"
                    break;
                    case this.value.trim().length < 5:
                    $('descriptionError').innerHTML = "El nombre debe tener mínimo 5 carácteres"          
            break;
            
                default:

                    break;
            }
        })

        console.log(productEdit)
</script> -->


</body>
</html>