<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

   
<body class="boee">

<%- include('./partials/header')%>

    <main class="productDetail" id="productDetail">
        <div class="productDetail__div"> 
            <div class="white">
                <div class="left">
                    <section class="header section1">
                        <div class="titulo">
                            <article class="section0__article--rep" >
                                <div class="estrellitas">
                                    <div class="estrellitas1"><small><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></small></div>
                                </div>             
                        </article>
                            <h1 class="titulos1"><%= name %> <%= weight %>
                                <% if (weight!==null) { %>
                                    kg 
                                    <%}else{%>  <% } %>
                            </h1>
                            <!-- <h1 class="titulos1"><%= weight %> 
                                <% if (weight!==null) { %>
                                      kg 
                                      <%}else{%>  <% } %>
                            </h1> -->
                        </div>     
                        <img class="imagen1" src="/images/products/<%= image ? image : "ufo.png" %> " alt="Foto de bolsón de alimento">

                    </section>
                    <section class="header section2">                                      
                        <article class="section2__article">
                            <div class="header section2__article__div">
                                <p class="section2__article__div__p"><%= description %> </p>
                            </div>
                        </article>                    
                    </section>
                </div>            
                <section class=" section3">
                    <article class="header section3__article--original1">
                        <div class=" section3__article__div" >
                            <div class="section3__article__div--original2">
                                <div>  
                                    <div class="titulo">
                                        <h1 class="titulos2"><%= name %> </h1>
                                        <h2 class="titulos2"><%= weight %> 
                                            <% if (weight!==null) { %>
                                                  kg 
                                                  <%}else{%>  <% } %>
                                        </h2>     
                                    </div> 
                                </div>
                            </div>

                            <%- include('./partials/section3DetailPartial', {
                                price,
                                mil,
                                id
                            }) %>
                            
                        </div>
                    </article>
                </section>
            </div>               
        </div>             
        </div>
        <section class="home__main__section">
            <div class="header home__main__section__div">
                <div class="home__main__section--h2">
                    <h2>Productos estelares</h2>
                </div>
                <div class="home__main__section--stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        <section class="home__main__section--carruselProductos">
            <div class="glider-contain">
                <div class="glider">

                    
                    <% products.forEach(({name,image,id, price}) => { %>
                    
                    <a href="/products/productDetail/<%= id %>">
                        <div class="header carousel-products-item">
    
        <img src="/images/products/<%= image %>" class="card-img-top" alt="...">
        <div class="card-body">
            <span class="price-home">$ <%= price %></span>
            <h5 class="card-title"><%= name %></h5>
        </div>
    </div>
</a>

<% }) %>
                </div>
                
                <button aria-label="Previous" class="glider-prev"><i class="fa-solid fa-arrow-left"></i></button>
                <button aria-label="Next" class="glider-next"><i class="fa-solid fa-arrow-right"></i></button>
                <!-- <div role="tablist" class="dots"></div> -->
            </div>
        </section> 
    </main>
 
    <%- include('./partials/footer')%>
    <%- include('./partials/scripts')%>
    <!--bootstrap-->
    <%- include('./partials/scriptsDetail')%>
    <script src="/javascripts/modoOscuro.js"></script>
    <script src="/javascripts/detail.js"></script>
</body>

</html>
