<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')%>

<body class="boee">
    
    <%- include('./partials/header')%>

<main class="product_main">
    <div id="todo-producto"></div>
  <!--   <li class="product_main--li"><a href="/products/gatos" class="product_main--a">Todos los productos para gatos</a></li> -->
    <ul class="product_main--ul">
        <div class="product_main--filtro-flex">
      
        <div class="product_main_filtros" id="producto_orden">
        <!-- <h2>Precio</h2>
        <li class="product_main--li"><a href="/products/gatos?price=max" class="product_main--a"  style="color:<#%= queries.price === 'max' && " white" %>;background:<#%= queries.price === 'max' && " #000000d4" %>;background:<#%= queries.price === 'max' && " #000000d4" %>;padding:<#%= queries.price === 'max' && " 9px" %>">Mayor precio</a></li>
        <li class="product_main--li"><a href="/products/gatos?price=min" class="product_main--a" style="color:<#%= queries.price === 'min' && " white" %>;background:<#%= queries.price === 'min' && " #000000d4" %>;background-color:<#%= queries.price === 'min' && " #000000d4" %>;padding:<#%= queries.price === 'min' && " 9px" %>">menor precio</a></li> -->
        </div>
        

    <div class="product_main_filtros"  id="productos_tipo">
      <!--   <h2>Categoria</h2>
        <li class="product_main--li"><a href="/products/gatos?productType=1" class="product_main--a" style="color:<#%= queries.productType === '1' && " white" %>;background:<%= queries.productType === '1' && " black" %>;background-color:<#%= queries.productType === '1' && " #000000d4" %>;padding:<#%= queries.productType === '1' && " 9px" %>">Alimento</a></li>
        <li class="product_main--li"><a href="/products/gatos?productType=2" class="product_main--a" style="color:<#%= queries.productType === '2' && " white" %>;background:<%= queries.productType === '2' && " black" %>;background-color:<#%= queries.productType === '2' && " #000000d4" %>;padding:<#%= queries.productType === '2' && " 9px" %>">Juguetes</a></li>
        <li class="product_main--li"><a href="/products/gatos?productType=3" class="product_main--a" style="color:<#%= queries.productType === '3' && " white" %>;background:<%= queries.productType === '3' && " #000000d4" %>;background-color:<#%= queries.productType === '3' && " #000000d4" %>;padding:<#%= queries.productType === '3' && " 9px" %>">Salud</a></li> -->
    </div>
</div>

    </ul>
<div class="product_master1">
    <div class="product_master">
   
    <div class="products_main_flexbox" id="container-products-card">

    <%# products.forEach(({name,image,id, price}) => { %>

       
   <!--  <div class="header products_main_producto">
        <a href="/products/productDetail/<%#= id %>">  
      
        <div class="products_main_producto--img">
        <img src="/images/products/<%#= image %>" class="card-img-top" alt="...">
    </div>
</a>
        <div class="products_main_producto--description">
            <div class="card-body">
                <span class="price-products-dog-cat">$ <%#= price %></span>
                <h5 ><%#= name %></h5>
            </div>
            






        </div>
                                    
    </div> -->

 
<%# }) %>
    
</div>

</div>

</div>

<%- include('./partials/paginator')%>

</main>


<%- include('./partials/footer')%>

<%- include('./partials/scripts')%>
<script src="/javascripts/paginatorCat.js"></script>
<script src="/javascripts/modoOscuro.js"></script>
</body>
</html>